################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Advance-C#/03_LINQ/01_LINQ_Introduction/01_Linq_Introduction/.vs/ProjectEvaluation
/Advance-C#/03_LINQ/01_LINQ_Introduction/.vs/03_LINQ_Introduction/DesignTimeBuild/.dtbcache.v2
/Advance-C#/03_LINQ/01_LINQ_Introduction/01_Linq_Introduction/.vs/03_LINQ_Introduction
/Advance-C#/03_LINQ/01_LINQ_Introduction/01_Linq_Introduction/bin/Debug/net8.0
/Advance-C#/03_LINQ/01_LINQ_Introduction/01_Linq_Introduction/obj
/Advance-C#/03_LINQ/01_LINQ_Introduction/bin/Debug/net8.0/03_LINQ_Introduction.deps.json
/Advance-C#/03_LINQ/01_LINQ_Introduction/bin/Debug/net8.0/03_LINQ_Introduction.dll
/Advance-C#/03_LINQ/01_LINQ_Introduction/bin/Debug/net8.0/03_LINQ_Introduction.pdb
/Advance-C#/03_LINQ/01_LINQ_Introduction/bin/Debug/net8.0/03_LINQ_Introduction.exe
/Advance-C#/03_LINQ/01_LINQ_Introduction/Extension/obj/Extension.csproj.nuget.dgspec.json
/Advance-C#/03_LINQ/01_LINQ_Introduction/Extension/obj/project.assets.json
/Advance-C#/03_LINQ/01_LINQ_Introduction/Extension/obj/project.nuget.cache
/Advance-C#/03_LINQ/01_LINQ_Introduction/obj/Debug/net8.0/ref/03_LINQ_Introduction.dll
/Advance-C#/03_LINQ/01_LINQ_Introduction/obj/Debug/net8.0/refint/03_LINQ_Introduction.dll
/Advance-C#/03_LINQ/01_LINQ_Introduction/obj/Debug/net8.0/03_LINQ_.679C37A5.Up2Date
/Advance-C#/03_LINQ/01_LINQ_Introduction/obj/Debug/net8.0/03_LINQ_.679C37A5.Up2Date
/Advance-C#/03_LINQ/01_LINQ_Introduction/obj/Debug/net8.0/03_LINQ_.679C37A5.Up2Date
/Advance-C#/03_LINQ/03_LINQ_Operators/Services/obj
/Advance-C#/03_LINQ/03_LINQ_Operators/Repositories/obj
/Advance-C#/03_LINQ/03_LINQ_Operators/Services/bin/Debug/net8.0
/Advance-C#/03_LINQ/03_LINQ_Operators/LINQ_Operartors/obj
/Advance-C#/03_LINQ/03_LINQ_Operators/LINQ_Operartors/bin/Debug/net8.0
/Advance-C#/03_LINQ/03_LINQ_Operators/LINQ_Operartors
/Advance-C#/03_LINQ/03_LINQ_Operators/Repositories/bin/Debug/net8.0
/Advance-C#/03_LINQ/03_LINQ_Operators/Extensions/obj
/Advance-C#/03_LINQ/02_LINQ_Queries/Services/obj
/Advance-C#/03_LINQ/03_LINQ_Operators/Extensions/bin/Debug/net8.0
/Advance-C#/03_LINQ/02_LINQ_Queries/Services/bin/Debug/net8.0
/Advance-C#/03_LINQ/02_LINQ_Queries/Repositories/obj
/Advance-C#/03_LINQ/02_LINQ_Queries/Repositories/bin/Debug/net8.0
/Advance-C#/03_LINQ/02_LINQ_Queries/Extensions/obj
/Advance-C#/03_LINQ/02_LINQ_Queries/Extensions/bin/Debug/net8.0
/Advance-C#/03_LINQ/02_LINQ_Queries/02_Linq_Queries/obj
/Advance-C#/03_LINQ/02_LINQ_Queries/02_Linq_Queries/bin/Debug/net8.0
/Advance-C#/03_LINQ/02_LINQ_Queries/02_Linq_Queries/.vs
/Advance-C#/03_LINQ/02_LINQ_Q/02_Linq_Queries.sln
/Advance-C#/03_LINQ/02_LINQ_Q/02_Linq_Queries.sln
/Advance-C#/03_LINQ/02_LINQ_Q/02_Linq_Queries/02_Linq_Queries.csproj
/Advance-C#/03_LINQ/02_LINQ_Q/02_Linq_Queries/Program.cs
/Advance-C#/03_LINQ/02_LINQ_Q/Extensions/Extensions.csproj
/Advance-C#/03_LINQ/01_LINQ_Introduction/03_LINQ_Introduction.csproj
/Advance-C#/03_LINQ/01_LINQ_Introduction/03_LINQ_Introduction.sln
/Advance-C#/03_LINQ/01_LINQ_Introduction/Program.cs
/Advance-C#/03_LINQ/01_LINQ_Introduction/03_LINQ_Introduction.csproj
/Advance-C#/03_LINQ/01_LINQ_Introduction/03_LINQ_Introduction.csproj
/Advance-C#/03_LINQ/01_LINQ_Introduction/03_LINQ_Introduction.csproj
/Advance-C#/03_LINQ/01_LINQ_Introduction/03_LINQ_Introduction.csproj
/Advance-C#/01_Delegate/01_DelegateBasicExample/.vs/01_DelegateBasicExample/DesignTimeBuild/.dtbcache.v2
/Advance-C#/01_Delegate/01_DelegateBasicExample/obj/Debug/net8.0/01_DelegateBasicExample.AssemblyInfoInputs.cache
/Advance-C#/01_Delegate/01_DelegateBasicExample/obj/Debug/net8.0/01_DelegateBasicExample.AssemblyInfo.cs
/Advance-C#/01_Delegate/01_DelegateBasicExample/.vs/01_DelegateBasicExample/v17/.suo
